* {
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    height: auto;
    display: block;
    position: fixed;
    top: 0;
}

header .main-header {
    width: 100%;
    height: 80px;
    background-color: green;
    display: flex;
    align-items: center;
}

header .sub-header {
    width: 100%;
    height: 70px;
    background-color: yellow;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.main-header .logo {
    width: fit-content;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.main-header .left {
    width: 30%;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    background-color: blue;
}

.main-header .right {
    width: 70%;
    height: 100%;
    display: flex;
    text-align: right;
    align-items: center;
    justify-content: right;
    background-color: violet;
}

.main-header .logo a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
}

.main-header .logo a img {
    width: 100%;
    height: 100%;
}

.main-header .user-status {
    width: fit-content;
    height: 100%;
    background-color: green;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.main-header .user-status a {
    width: max-content;
    height: auto;
    padding: 10px 20px;
    background-color: cyan;
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 0 10px;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.main-header .user-status a::after {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0px;
    left: -100%;
    transition: 0.4s;
    background-color: yellow;
    z-index: -1;
}

.main-header .user-status a:hover::after {
    left: 0;
}

.main-header .sidebtn {
    width: fit-content;
    height: 100%;
    background-color: purple;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.main-header .sidebtn i {
    cursor: pointer;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

@media screen and (max-width:980px) {
    .main-header .left {
        width: 50%;
    }

    .main-header .right {
        width: 50%;
    }
}

.sub-header .main-menu {
    width: 50%;
    height: 100%;
    background-color: lawngreen;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.sub-header .main-menu ul {
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.sub-header .main-menu ul li {
    width: auto;
    height: 40px;
    background-color: rgb(255, 70, 70);
    list-style: none;
    border-radius: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    overflow: hidden;
}

.sub-header .main-menu ul li a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    padding: 0 20px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: black;
    position: relative;
    transition: 0.4s;
    background-color: transparent;
    position: relative;
    z-index: 0;
}

.sub-header .main-menu ul li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: yellow;
    transition: 0.4s;
    z-index: -1;
}

.sub-header .main-menu ul li a:hover::before {
    left: 0;
}

.sub-header .search {
    width: 30%;
    height: 100%;
    background-color: indigo;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.sub-header .search form {
    width: 100%;
    height: 100%;
    background-color: indianred;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
}

.sub-header .search form input[type='text'] {
    width: 100%;
    height: 20px;
    padding: 10px 50px 10px 20px;
    direction: ltr;
    font-size: 20px;
    border-radius: 50px;
    border: 2px solid black;
    outline: none;
    transition: 0.4s;
}

.sub-header .search form input[type='text']:focus {
    border: 2px solid transparent;
    box-shadow: 0 0 6px 2px rgb(5, 254, 5);
}

.sub-header .search form i {
    position: absolute;
    right: 20px;
    cursor: pointer;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sub-header .social {
    width: 20%;
    height: 100%;
    background-color: seagreen;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.sub-header .social ul {
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.sub-header .social ul li {
    list-style: none;
    margin: 0 10px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.sub-header .social ul li a {
    text-decoration: none;
    color: black;
    position: relative;
    width: 30px;
    height: 30px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.sub-header .social ul li a i {
    width: 100%;
    height: 100%;
    font-size: 25px;
    position: absolute;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.sub-header .social ul li a label {
    position: absolute;
    left: 50%;
    top: 0;
    display: inline-block;
    transform: translate(-50%, 0) scale(0);
    transition: 0.4s;
    z-index: 1;
}

.sub-header .social ul li a label.telegramlbl {
    background-color: rgb(0, 145, 255);
    padding: 2px;
    border-radius: 2px;
}

.sub-header .social ul li a label.instagramlbl {
    background: linear-gradient(45deg, purple, rgb(255, 196, 0));
    padding: 2px;
    border-radius: 2px;
}

.sub-header .social ul li a label.linkedinlbl {
    background-color: rgb(53, 53, 255);
    padding: 2px;
    border-radius: 2px;
}

.sub-header .social ul li a label.twitterlbl {
    background-color: rgb(53, 174, 255);
    padding: 2px;
    border-radius: 2px;
}

.sub-header .social ul li a i:hover+label {
    top: -25px;
    transform: translate(-50%, 0) scale(1);
}

.barmenu {
    display: none;
    background-color: green;

}


.barlist {
    display: none;
}

.barlist a {
    text-decoration: none;
    color: black;
    margin: 5px 0;
    width: 100%;
    padding: 5px 0px;
    background-color: yellow;
    font-size: 20px;
    transition: 0.3s;
}

.barlist a:hover {
    background-color: green;
}

.barmenu i {
    cursor: pointer;
}

@media screen and (max-width:960px) {
    .sub-header .main-menu ul {
        display: none;
    }

    /* header .sub-header {
        justify-content: center;
    } */

    /* header .sub-header>* {
        margin: 0 30px;
    } */

    .barmenu {
        height: 100%;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .barlist {
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        right: 0;
        padding: 5px 0;
        background-color: red;
        top: 100%;
    }

    .sub-header .social {
        width: 30%;
    }
}

/* @media screen and (max-width:500px) {
    .sub-header .social {
        width: 40%;
    } */

/* .sub-header .search{ */
/* width: 80%; */
/* display: none; */
/* } */

/* header .sub-header{
        width: 100% !important;
        justify-content: center;
    }

    header .sub-header>* {
        margin: 0;
    } */
/* } */

@media screen and (max-width:500px) {
    .main-header .right {
        width: 40%;
    }

    .main-header .left {
        width: 60%;
    }

    .sub-header .main-menu {
        width: auto;
    }

    .sub-header .social {
        width: auto;
    }

    .sub-header .search {
        width: auto;
    }
}

@media screen and (max-width:425px) {

    header .main-header {
        justify-content: space-between;
    }

    .main-header .right {
        width: auto;
    }

    .main-header .left {
        width: auto;
    }

    .main-header .user-status a {
        margin: 0 5px;
        padding: 5px 10px;
        font-size: 17px;
    }

    .sub-header .social ul li {
        margin: 0 5px;
    }

    .main-header .logo a {
        height: 50%;
    }
}

@media screen and (max-width:250px) {
    .main-header .user-status {
        flex-direction: column;
    }

    .main-header .user-status a {
        margin: 5px 0;
    }
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    z-index: 999;
    background-color: gainsboro;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    padding: 0 0;
    padding-top: 40px;
    transition: 0.6s;
}

.sidebar i {
    position: absolute;
    right: 20px;
    top: 10px;
    transition: 0.3s;
}

.sidebar i:hover {
    color: rgb(255, 59, 59);
}

.sidebar h2 {
    color: black;
    font-weight: bolder;
    width: 100%;
    text-align: left;
    transition: 0.3s;
}

.sidebar a {
    text-decoration: none;
    color: rgb(89, 89, 89);
    display: inline-block;
    font-size: 18px;
    width: 100%;
    transition: 0.2s;
    text-align: left;
    margin: 5px 0;
}

.sidebar a:hover {
    transform: translateX(10px);
}
